@import "tailwindcss";
@theme {
  --color-ch-black: #212121;
  --color-ch-green: #296660;
  --color-ch-light-green: #dbf6f3;
  --color-ch-text-gray: #666666;
  --color-ch-surface-lightgray: #9e9e9e;
  --color-ch-outline: #e0e0e0;
  --color-ch-surface-gray: #f7f7f7;
  --color-ch-white: #ffffff;

  --font-ch-main: "Aeonik";
}
